<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      <%= t ".title" %>
    </div>
    <ul>
      <% if allowed_to? :read, :feedback %>
        <li <% if is_active_link?(decidim_feedback_admin.feedbacks_path, %r{^#{decidim_feedback_admin.feedbacks_path}(\?.*)?$}) %> class="is-active" <% end %>>
          <%= link_to t("menu.feedbacks", scope: "decidim.feedback.admin"), decidim_feedback_admin.feedbacks_path %>
        </li>
      <% end %>
      <% if allowed_to? :read, :recipient_group %>
        <li <% if is_active_link?(decidim_feedback_admin.recipient_groups_path) %> class="is-active" <% end %>>
          <%= link_to t("menu.recipient_groups", scope: "decidim.feedback.admin"), decidim_feedback_admin.recipient_groups_path %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
